:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: rgba(161, 207, 242, 0.356);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  min-width: fit-content;
  border: 0;
  font-family: inherit;
  font-weight: 600;
}
::placeholder{
  font-family:Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}